body {
  background-color: var(--clr-background-2);
}

.container {
  background-image: var(--bg-mobile);
  background-repeat: no-repeat;
}

@media (min-width: 376px) {
  .container {
    background-image: var(--bg-desktop);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
